/* General CSS for the entire page */

body{
    margin: 0;
    background: #f1f3f5;
    /* font-family: -apple-system,BlinkMacSystemFont,segoe ui,roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,helvetica neue,sans-serif; */

}

#wrapper{
    background-image: initial;
    background: #f1f3f5;
    color: #111;
    font-family: BlinkMacSystemFont,segoe ui,roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,helvetica neue,sans-serif;
    margin: 0 20%;
}

h3{
    color: #745FB5;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 14px;
    padding: 10px;
}

p{
    text-align: center;
    color: #678;
    font-size: 13px;
    padding-bottom: 20px;
      
}


a:link {
    text-decoration: none;
}

/* CSS for the Navigation Bar */
.navList{
    list-style: none;
    /*Used flex-box to align items in a row and 
    align the items evenly across the page*/
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

.navList a{
    padding: 10px;
    color: rgb(70, 70, 70);
}

.navList a:nth-child(2){
    margin-right: 30px;
}

#item1:hover{
    color: white;
    height: 30px;
    width: 30px;
    background: #745fb5;
    border-radius: 50%; 
}

#item2{
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    padding-left: 30px;
}

#item2:hover{
    color: #745fb5;
}

/* CSS for items under the Nav Bar but before search Bar*/

h1 {
    font-size: 2em;
    margin: 0.67em 0;
    color: #111;
    font-size: 50px;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    font-weight: 200;
    text-align: center;
    margin-bottom: 16px;
}

#siteHeader{
    margin-top: 80px;
}

/* CSS for Search Bar */

#sep{
    color: rgba(102,119,136,.5);
    font-size: 17px;
    margin: 0 8px;
}

#prefix{
    font-size: 13px;
    color: rgba(102,119,136,.5);
    padding: 2px 8px;
    border-radius: 3px;
    background: rgba(241,243,245,.5);
    margin: 0 0 0 16px;
    box-shadow: 0 1px 1px rgba(102,119,136,.25);
}

input{
    font-size: 17px;;
    padding: 16px;
    border: white;
    width: 70%;
}
#searchBox {
    box-shadow: 0 6px 8px rgba(102,119,136,.03), 0 1px 2px rgba(102,119,136,.3);
    /*Used flex-box to align the search box items in a row*/
    display: flex; 
    padding: 20px;
    margin-right: 2%;
    margin-left: 2%;
    height: 24px;
    background: white;  
    font-family: 'Montserrat', sans-serif;  
}

#mag{
    width:30px;
    height:30px;
    background: url(../assests/magGlass.png) no-repeat;
    position: relative;
    left: 40px;
}

/* CSS for the Sponser info */
#cf-wrapper{
    max-width: 330px;
    line-height: 1.4;
    font-family: Helvetica, Arial;
    margin-left:auto;
    margin-right: auto;
    padding:15px;
    text-align: center;
}

#cf-powered-by{
    box-shadow: none;
    margin-top:5px;
    font-size:11px;   
    color:#678;
    text-decoration: none;
    text-align: center;
}

#cf-header{
    font-size: 12px;
    color:#678;
    margin-bottom: 8px;
    margin-top: 20px;
}

/* CSS for grid of links below sponser info */
#grid{
    /* Used CSS grid*/
    display: grid;
    /* Columns are setup to auto fill and not shrink below 156px */
    grid-template-columns: repeat(auto-fill, minmax(156px, 1fr));
    /* Added gaps between link boxes */
    grid-gap: 10px;
    margin-top: 30px;
}

#grid span{
    color: #fff;
    text-align: left;
    /* Used flex-box to align items in center of box */
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(102,119,136,.55);
    text-shadow: 0 1px 1px rgba(51,68,85,.3);
}

.fa-circle{
    color:#77dab2;
    font-size: 9px;
    margin: 0 10px;
}

.color1{
    background: #745fb5;    
}

.color1:hover{
    background: #5f4aa1;
}
.color2{
    background: grey;
}

.color2:hover{
    background: #556371;
}

.color3{
    background: rgb(21, 184, 154);
}

.color3:hover{
    background: #108b68;
}

/* CSS for columns of links towards bottom of page */
.grid2{
    /* CSS grid and added 2 columns */
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid2 a{
    margin-top: 15px;
}
.hidden{
    color: #f1f3f5;
}

.hidden:hover{
    color: rgb(131, 128, 128);
}

/**
   * Tooltip Styles
   */

  [data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
  }
  
  /* Hide the tooltip content by default */
  [data-tooltip]:before,
  [data-tooltip]:after {
    /* visibility: hidden; */
    opacity: 0;
  }
  
  /* Position tooltip below the element */
  [data-tooltip]:before {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 120px;    
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
}
  
  /* Triangle hack to make tooltip look like a speech bubble */
  [data-tooltip]:after {
    position: absolute;
    bottom: -5%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-bottom: 5px solid #000;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
  }
  
  /* Show tooltip content on hover */
  [data-tooltip]:hover:before,
  [data-tooltip]:hover:after {
    opacity: 1;
    transition: opacity 0.8s;
  }